:host {
  lightgallery {
    display: flex;
    padding-block: 1rem;
    overflow: hidden;
    gap: 1rem;
  }

  .gallery-item {
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
  }

  .img-responsive {
    max-width: 100%;
    width: 100%;
    height: 15rem;
    object-fit: cover;
    display: inline-block;
  }

  @media (min-width: 768px) {
    .gallery-item {
      width: 50%;
    }

    .img-responsive {
      height: 20rem;
    }
  }
}
