<app-page>
  <div class="container py-5 mb-5">
    <form [formGroup]="form" (ngSubmit)="submit">
      <div class="text-center mb-5">
        <h1 class="h2">Tenant Login</h1>
        <p class="lead fs-6">
          <small>
            Please enter your email and password to login.
          </small>
        </p>
      </div>
      <div class="form-group">
        <nz-form-item>
          <nz-input-group [nzPrefix]="emailIconTemplate" nzSize="large">
            <input formControlName="email" id="email" nz-input nzSize="large" placeholder="Enter Email Address"
                   type="email">
          </nz-input-group>

          <div
            *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty && form.get('email')?.touched)"
            class="text-danger mt-2">
            <div *ngIf="form.get('email')?.errors?.['required']">
              Email is required.
            </div>
            <div *ngIf="form.get('email')?.errors?.['email']">
              Email is invalid.
            </div>
          </div>
        </nz-form-item>
      </div>
      <div class="form-group">
        <nz-form-item>
          <nz-input-group [nzPrefix]="passwordIconTemplate" nzSize="large">
            <input formControlName="password" id="password" nz-input nzSize="large" placeholder="Enter Password"
                   type="password">
          </nz-input-group>

          <div
            *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty && form.get('password')?.touched)"
            class="text-danger mt-2">
            <div *ngIf="form.get('password')?.errors?.['required']">
              Password is required.
            </div>
          </div>

          <div *ngIf="form.errors?.['invalidCredentials']" class="text-danger mt-2">
            Invalid credentials.
          </div>
        </nz-form-item>
      </div>
      <nz-form-item>
        <button nz-button nzType="primary" type="submit" nzSize="large" [disabled]="form.invalid" (click)="submit()"
                [nzLoading]="loading">
          Login
        </button>
      </nz-form-item>
    </form>
  </div>
</app-page>

<ng-template #passwordIconTemplate>
  <span nz-icon nzTheme="outline" nzType="lock"></span>
</ng-template>

<ng-template #emailIconTemplate>
  <span nz-icon nzTheme="outline" nzType="user"></span>
</ng-template>

