@use '../../../../../assets/styles/style-variables' as *;

:host {
  .footer {
    padding-block-start: 3rem;
    padding-block-end: 1.5rem;
  }

  h5 {
    font-size: $fs-500;
    font-weight: 400;
  }

  .lead {
    font-size: $fs-300;
    font-weight: $fw-light;
  }

  .nav-link:hover {
    color: $clr-primary-500;
  }
}
