@use '../../../assets/styles/style-variables' as *;

:host {
  /**
    hero styles
   */
  .hero {
    background: url('../../../assets/images/hero.jpg') no-repeat center center/cover, linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-blend-mode: overlay;
    padding-block: 5rem;
    height: 28rem;

    &__content {
      flex-direction: column;
    }

    &__title, &__lead {
      font-weight: $fw-semi-bold;
    }

    &__form {
      text-align: left;
      max-width: 40rem;
      width: 100%;

      app-select-field {
        flex: 1;

        ::ng-deep {
          .ant-select:not(.ant-select-customize-input) .ant-select-selector {
            border-right: 0;
            border-radius: 0;
          }

          .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector, .ant-select:hover, .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
            border-color: transparent;
            box-shadow: none;
          }
        }
      }

      .btn {
        flex: 0.35;
        border-radius: 0;
        height: 2.5rem;
      }
    }
  }

  /**
    properties styles
   */
  .properties {
    app-property {
      flex: 1;
    }
  }

  /**
    feature styles
   */
  .feature {
    &__lead {
      font-size: $fs-300;
      margin-block: 1rem;
    }

    li {
      margin-block: 1rem;
      max-width: 90%;

      i {
        font-size: $fs-300;
        margin-inline-end: 0.5rem;
      }
    }
  }


  /**
  general styles
 */
  .container {
    height: 100%;
  }

  .lead {
    font-size: $fs-100;
    letter-spacing: 1px;
  }

  /**
    ctas styles
   */
  .cta {
    .card {
      background: $clr-primary-500;
      border: 0;
    }
  }


  /**
    responsive styles
   */
  @media (max-width: 426px) {
    /**
      hero styles
     */
    .hero {
      height: auto;
    }

    .hero__form {
      flex-direction: column;
      gap: 1rem;
      max-width: 20rem;

      .btn {
        width: 100%;
      }
    }

    /**
      properties styles
     */
    .properties {
      .container {
        flex-direction: column;
      }
    }
  }
}
