<div class="filters p-3 mb-5 ">
  <div class="filters__header flex-between">
    <div>
      <button (click)="showFilters = !showFilters" nz-button nz-dropdown nzSize="large" nzType="default"
              class="filter__btn">
        <span class="d-flex align-items-center gap-1">
          <i nz-icon nzType="filter"></i>
          <span>Filters</span>
        </span>
        <nz-badge
          *ngIf="count?.filteredCount && (count?.filteredCount !== count?.totalCount)"
          [nzCount]="$any(count?.filteredCount)"
          [nzOverflowCount]="999"
          [nzStyle]="{ backgroundColor: '#52c41a' }"
        ></nz-badge>
      </button>
    </div>
  </div>

  <div *ngIf="showFilters" class="filters__body border-top mt-3 pb-2 border-light-subtle">
    <div class="filters__container">
      <div *ngFor="let filter of filterConfig" class="form-group flex-grow-1">
        <ng-container
          *ngTemplateOutlet="(filter.filterType === 'select' ? selectFilterTemplate : filter.filterType === 'range' ? rangeFilterTemplate : null); context: {filter: filter}"
        >
        </ng-container>
      </div>

      <div class="flex-between">
        <div class="btn-group d-flex w-100 gap-3">
          <button (click)="applyFilter()" nz-button nzSize="large" nzType="primary">Apply Filters</button>
          <button (click)="resetFilter()" nz-button nzDanger nzSize="large" nzType="default">Reset Filters</button>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #selectFilterTemplate let-filter="filter">
  <label class="form-label">{{filter?.label}}</label>
  <app-select-field (onValueChange)="filteredValues && (filteredValues[filter?.filterField] = $event)"
                    [options]="filter?.options"
                    [selectedValue]="filteredValues?.[filter?.filterField]"
                    [size]="'large'"
                    placeholder="{{filter?.label}}"></app-select-field>
</ng-template>

<ng-template #rangeFilterTemplate let-filter="filter">
  <label class="form-label">{{filter.label}}</label>
  <div class="filters__price__container gap-2">
    <div class="filters__price__label">
      <input [value]="filteredValues[filter.filterField][0]" class="form-control" readonly style="border-radius: 0"
             type="text">
      <label class="form-label">Min</label>
    </div>
    <nz-slider [(ngModel)]="filteredValues[filter.filterField]" [nzMax]="filter.max" [nzMin]="filter.min"
               [nzStep]="filter.step" nzRange style="display: inline-block; width: 100%"></nz-slider>
    <div class="filters__price__label" style="text-align: right">
      <input [value]="filteredValues[filter.filterField][1]" class="form-control" readonly style="border-radius: 0"
             type="text">
      <label class="form-label">Max</label>
    </div>
  </div>
</ng-template>
