<section class="overview">
  <div class="container">
    <div nz-row nzGutter="16">
      <div [nzMd]="12" [nzXs]="24" nz-col>
        <h3 nz-typography>
          Profile
        </h3>
      </div>
    </div>

    <nz-tabset>
      <nz-tab nzTitle="General">
        <nz-card>
          <div class="mb-4 d-flex justify-content-between align-items-center" nz-typography>
            <div>
              <h5 class="mb-0">
                Your Profile
              </h5>
              <p class="mb-0">
                Update your profile information.
              </p>
            </div>
            <div class="d-flex gap-3">
              <button (click)="handleCancel()" *ngIf="editMode" nz-button nzType="default">Cancel</button>
              <button (click)="handleSave()" [disabled]="profileForm.invalid"
                      [nzType]="editMode ? 'primary' : 'default'" nz-button>
                {{editMode ? 'Save' : 'Edit'}}
              </button>
            </div>
          </div>

          <form [formGroup]="profileForm">
            <div nz-row nzGutter="16">
              <div nz-col nz-typography nzMd="12" nzXs="24">
                <div class="view-mode d-flex flex-column">
                  <span>
                    Full Name
                  </span>
                  <span *ngIf="!editMode" nz-typography nzType="secondary">
                    {{profileForm.get('full_name')?.value}}
                  </span>

                  <nz-form-control *ngIf="editMode">
                    <input formControlName="full_name" nz-input nzSize="default"
                           placeholder="Full Name"/>
                    <div
                      *ngIf="profileForm.get('full_name')?.invalid && (profileForm.get('full_name')?.dirty && profileForm.get('full_name')?.touched)"
                      class="text-danger mt-2">
                      <div *ngIf="profileForm.get('full_name')?.errors?.['required']">
                        Full Name is required.
                      </div>
                    </div>
                  </nz-form-control>
                </div>
              </div>


              <div nz-col nz-typography nzMd="12" nzXs="24">
                <div class="view-mode d-flex flex-column">
               <span>
                 Date of Birth
              </span>
                  <span *ngIf="!editMode" nz-typography nzType="secondary">
                  {{profileForm.get('date_of_birth')?.value}}
              </span>

                  <nz-date-picker *ngIf="editMode" [nzShowTime]="false" [nzShowToday]="false"
                                  formControlName="date_of_birth"
                                  nzFormat="dd/MM/YYYY" style="display: block"></nz-date-picker>

                  <div
                    *ngIf="profileForm.get('date_of_birth')?.invalid && (profileForm.get('date_of_birth')?.dirty && profileForm.get('date_of_birth')?.touched)"
                    class="text-danger mt-2">
                    <div *ngIf="profileForm.get('date_of_birth')?.errors?.['required']">
                      Date of Birth is required.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div nz-row nzGutter="16">
              <div nz-col nz-typography nzMd="12" nzXs="24">
                <div class="view-mode d-flex flex-column">
               <span>
                Email Address
              </span>
                  <span *ngIf="!editMode" nz-typography nzType="secondary">
            {{profileForm.get('email')?.value}}
              </span>

                  <nz-form-control *ngIf="editMode">
                    <input formControlName="email" nz-input placeholder="Email"/>
                  </nz-form-control>

                  <div
                    *ngIf="profileForm.get('email')?.invalid && (profileForm.get('email')?.dirty && profileForm.get('email')?.touched)"
                    class="text-danger mt-2">
                    <div *ngIf="profileForm.get('email')?.errors?.['required']">
                      Email is required.
                    </div>
                    <div *ngIf="profileForm.get('email')?.errors?.['email']">
                      Email is invalid.
                    </div>
                  </div>
                </div>
              </div>

              <div nz-col nz-typography nzMd="12" nzXs="24">
                <div class="view-mode d-flex flex-column">
               <span>
                Phone Number
              </span>
                  <span *ngIf="!editMode" nz-typography nzType="secondary">
            {{profileForm.get('phone_number')?.value}}
              </span>

                  <nz-form-control *ngIf="editMode">
                    <input formControlName="phone_number" nz-input placeholder="Phone Number"/>
                  </nz-form-control>

                  <div
                    *ngIf="profileForm.get('phone_number')?.invalid && (profileForm.get('phone_number')?.dirty && profileForm.get('phone_number')?.touched)"
                    class="text-danger mt-2">
                    <div *ngIf="profileForm.get('phone_number')?.errors?.['required']">
                      Phone Number is required.
                    </div>
                    <div *ngIf="profileForm.get('phone_number')?.errors?.['pattern']">
                      Phone Number is invalid.
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div nz-row nzGutter="16">
              <div nz-col nz-typography nzMd="12" nzXs="24">
                <div class="view-mode d-flex flex-column">
               <span>
                Alternate Phone Number
              </span>
                  <span *ngIf="!editMode" nz-typography nzType="secondary">
            {{profileForm.get('alternate_phone_number')?.value ?? 'N.A'}}
              </span>

                  <nz-form-control *ngIf="editMode">
                    <input formControlName="alternate_phone_number" nz-input
                           placeholder="Alternate Phone Number"/>
                  </nz-form-control>
                </div>
              </div>

              <div nz-col nz-typography nzMd="12" nzXs="24">
                <div class="view-mode d-flex flex-column">
               <span>
                Home Address
              </span>
                  <span *ngIf="!editMode" nz-typography nzType="secondary">
            {{profileForm.get('home_address')?.value ?? 'N.A'}}
              </span>

                  <nz-form-control *ngIf="editMode">
                    <input formControlName="home_address" nz-input placeholder="Home Address"/>
                  </nz-form-control>

                  <div
                    *ngIf="profileForm.get('home_address')?.invalid && (profileForm.get('home_address')?.dirty && profileForm.get('home_address')?.touched)"
                    class="text-danger mt-2">
                    <div *ngIf="profileForm.get('home_address')?.errors?.['required']">
                      Home Address is required.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </nz-card>
      </nz-tab>
      <nz-tab nzTitle="Security">
        <nz-card>
          <div class="mb-4 d-flex justify-content-between align-items-center flex-wrap gap-3" nz-typography>
            <div>
              <h5 class="mb-0">
                Change Password
              </h5>
              <p class="mb-0">
                Update your password.
              </p>
            </div>

            <button
              (nzOnConfirm)="handleChangePassword()"
              [disabled]="passwordForm.invalid"
              nz-button
              nz-popconfirm
              nzPopconfirmPlacement="bottom"
              nzPopconfirmTitle="Are you sure you want to change your password ?"
              nzType="primary"
            >
              <i nz-icon nzTheme="outline" nzType="lock"></i>
              Change Password
            </button>
          </div>

          <form [formGroup]="passwordForm">
            <div nz-row nzGutter="16">
              <div nz-col nz-typography nzMd="12" nzXs="24">
                <div class="view-mode d-flex flex-column">
                  <span>
                    Current Password
                  </span>
                  <nz-form-control>
                    <input formControlName="current_password" nz-input nzSize="default" placeholder="Current Password"
                           type="password"/>
                  </nz-form-control>
                  <div
                    *ngIf="passwordForm.get('current_password')?.invalid && (passwordForm.get('current_password')?.dirty && passwordForm.get('current_password')?.touched)"
                    class="text-danger mt-2">
                    <div *ngIf="passwordForm.get('current_password')?.errors?.['required']">
                      Current Password is required.
                    </div>
                  </div>
                </div>
              </div>

              <div nz-col nz-typography nzMd="12" nzXs="24">
                <div class="view-mode d-flex flex-column">
                  <span>
                    New Password
                  </span>
                  <nz-form-control>
                    <input formControlName="new_password" nz-input nzSize="default" placeholder="New Password"
                           type="password"/>
                  </nz-form-control>
                  <div
                    *ngIf="passwordForm.get('new_password')?.invalid && (passwordForm.get('new_password')?.dirty && passwordForm.get('new_password')?.touched)"
                    class="text-danger mt-2">
                    <div *ngIf="passwordForm.get('new_password')?.errors?.['required']">
                      New Password is required.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </nz-card>
      </nz-tab>
    </nz-tabset>
  </div>
</section>
