@import "../../../../assets/styles/style-variables";

:host {
  .page-item {
    .page-link {
      color: $clr-primary-500;
      border-color: #dee2e6;

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed !important;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    &.active {
      .page-link {
        color: #fff;
        background-color: $clr-primary-500 !important;
        border-color: $clr-primary-500 !important;
      }

      .page-link.disabled {
        opacity: 0.5;
        cursor: not-allowed !important;
        background: green;
      }
    }
  }
}
