<section class="overview">
  <div class="container">
    <div nz-row nzGutter="16">
      <div [nzMd]="12" [nzXs]="24" nz-col>
        <h3 nz-typography>Welcome {{tenant.full_name | titlecase}}</h3>
      </div>
    </div>

    <nz-card>
      <div class="mb-4" nz-typography>
        <h5 class="mb-0">
          Rental Details
        </h5>
        <p>
          Here is a summary of your rental details.
        </p>
      </div>

      <div nz-row nzGutter="16">
        <div class="d-flex flex-column" nz-col nz-typography nzMd="12" nzXs="24">
              <span>
                Currently Rented Property
              </span>
          <span nz-typography nzType="secondary">
                {{property?.name}}, {{property?.full_address}}
              </span>
        </div>
        <div class="d-flex flex-column" nz-col nz-typography nzMd="12" nzXs="24">
                <span>
                  Next payment due
                </span>
          <span nz-typography nzType="secondary">
                {{tenant.next_rent_due_date}}
                </span>
        </div>
      </div>

      <div nz-row nzGutter="16">
        <div class="d-flex flex-column" nz-col nz-typography nzMd="12" nzXs="24">
                <span>
                  Lease Duration
                </span>
          <span nz-typography nzType="secondary">
                {{tenant.agreement_duration}} months
                </span>
        </div>

        <div class="d-flex flex-column" nz-col nz-typography nzMd="12" nzXs="24">
                <span>
                  Agreement Start Date
                </span>
          <span nz-typography nzType="secondary">
                {{AppUtil.toDate(tenant.commencement_date) | date: 'mediumDate'}}
                </span>
        </div>
      </div>


      <div nz-row nzGutter="16">
        <div class="d-flex flex-column" nz-col nz-typography nzMd="12" nzXs="24">
                <span>
                  Agreement End Date
                </span>
          <span nz-typography nzType="secondary">
                {{AppUtil.toDate(tenant.expiry_date) | date:'mediumDate'}}
                </span>
        </div>

        <div class="d-flex flex-column" nz-col nz-typography nzMd="12" nzXs="24">
                <span>
                  Rent
                </span>
          <span nz-typography nzType="secondary">
                {{tenant.ppm | currency: 'INR'}}
                </span>
        </div>
      </div>

      <div nz-row nzGutter="16">
        <div class="d-flex flex-column" nz-col nz-typography nzMd="12" nzXs="24">
              <span>
                Security Deposit
              </span>
          <span nz-typography nzType="secondary">
              {{tenant.deposit | currency: 'INR'}}
              </span>
        </div>

        <div class="d-flex flex-column" nz-col nz-typography nzMd="12" nzXs="24">
              <span>
                Rental Contract
              </span>
          <span nz-typography nzType="secondary">
              <a [href]="AppUtil.assetsUrl(signedContract)" target="_blank">View</a>
              </span>
        </div>
      </div>
    </nz-card>
  </div>
</section>
